@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap");

body {
  font-family: "Titillium Web", sans-serif;
  background: linear-gradient(
    270deg,
    rgba(229, 36, 37, 0.8968721277573529) 0%,
    rgba(33, 54, 136, 0.9472922958245799) 89%
  );
}

@media (prefers-reduced-motion: no-preference) {
  .loading-bounce {
    animation: loading-bounce infinite 1s ease;
  }
}

@keyframes loading-bounce {
  0% {
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}
